.red {
	color: red;
    border: solid;
    width: 99.5%;
    height: 50%;
    background: red;
    

}

.blue {
	color: blue
	border: solid;
	width: 20%;
	height: 65%;
	background: blue;
	float: left;
}

.lightblue {
	color: blue;
	border: solid;
	width: 20%;
	height: 65%;
	background: blue;
	float: right;
	
} 
.yellow {
	color: yellow;
	border: solid;
	width: 90%;
	height: 50%;
	background: yellow;
	
	
}

.green {
	color: green;
	border: solid;
	width: 90%;
	height: 13%;
	background: green;
	float: bottom;
	
}
.body{
background-image: https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10384444_10203679972652794_3820860301925187068_n.jpg?oh=37eb8128422e7520d49b2c58f0a96a8f&oe=5493C410&__gda__=1422718063_37a3dce57571abb7dc22e5cb62fb3d19;
height: 10%;
width: 10%; 
}